<html>
	<head>
		<title>Href Attribute Example</title>
		<link rel="stylesheet" href="css/SWA.css" type="text/css" />
		<script is:inline src="js/jquery.min.js"></script>
		<link
			rel="stylesheet"
			href="https://kauderk.github.io/code-snippets/yt-gif-ddm/dist/main.css"
		/>
		<script
			src="https://kauderk.github.io/code-snippets/yt-gif-ddm/dist/main.js"
			defer
		></script>
	</head>
	<body>
		<h1>Href Attribute Example</h1>
		<p>
			<a href="/Borial">The freeCodeCamp Contribution Page</a> shows you how
			and where you can contribute to freeCodeCamp's community and growth.
		</p>
		<a id="app"></a>
	</body>
</html>
