@import 'https://unpkg.com/open-props';

html {
	// light theme global props
	--brand1-light: var(--orange-6);
	--brand2-light: var(--orange-7);
	--brand3-light: var(--orange-8);

	--text1-light: var(--gray-8);
	--text2-light: var(--gray-7);

	--surface1-light: var(--gray-2);
	--surface2-light: var(--gray-0);
	--surface3-light: var(--gray-1);
	--surface4-light: var(--gray-3);
	--surface5-light: var(--gray-4);

	// dark theme global props
	--brand1-dark: var(--orange-3);
	--brand2-dark: var(--orange-2);
	--brand3-dark: var(--orange-1);

	--text1-dark: var(--gray-1);
	--text2-dark: var(--gray-3);

	--surface1-dark: var(--gray-9);
	--surface2-dark: var(--gray-8);
	--surface3-dark: var(--gray-7);
	--surface4-dark: var(--gray-5);
	--surface5-dark: var(--gray-4);
}

html {
	// styles by default are white
	--brand1: var(--brand1-light);
	--brand2: var(--brand2-light);
	--brand2: var(--brand3-light);

	--text1: var(--text1-light);
	--text2: var(--text2-light);

	--surface1: var(--surface1-light);
	--surface2: var(--surface2-light);
	--surface3: var(--surface3-light);
	--surface4: var(--surface4-light);
	--surface5: var(--surface5-light);
}

.dark-props {
	// dark theme override
	--brand1: var(--brand1-dark);
	--brand2: var(--brand2-dark);
	--brand2: var(--brand3-dark);

	--text1: var(--text1-dark);
	--text2: var(--text2-dark);

	--surface1: var(--surface1-dark);
	--surface2: var(--surface2-dark);
	--surface3: var(--surface3-dark);
	--surface4: var(--surface4-dark);
	--surface5: var(--surface5-dark);
}
