# How do i use it?
- Main funcionality: while exiting the frame, hold down the middle mouse button ("[InAndOutKeys](#what-are-inandoutkeys)") to unmute videos
- Create `{{[[yt-gif]]}}` components with [url parameters](#what-are-the-url-parameters-how-do-i-use-them)

    - ```
      {{[[yt-gif]]: https://youtu.be/sFFwvr6l2mM?t=60&end=120 }}
      ```
- Or simply paste a `YouTube url` and format it with [Simulate url button to video component](#simulate-url-button-to-video-component) enabled.
    - ##### yt-gif icon > Miscellaneous > (top left corner, tutorial drop down menu) > 🎥 [URL Formatter video tutorial](https://youtu.be/1ABtb346pc0) 
