#drawflow {
	position: relative;
	width: calc(100vw);
	height: calc(100vh);

	background: var(--background-color);
	background-size: 25px 25px;
	background-image: linear-gradient(
			rgb(72, 78, 80) 0.1rem,
			rgba(6, 6, 6, 0) 0.1rem
		),
		linear-gradient(90deg, rgb(72, 78, 80) 0.1rem, rgba(6, 6, 6, 0) 0.1rem) !important;
}
.drawflow-node .title-box {
	height: 3em;
}

.drawflow-node .box {
	padding: 0.5em;
}

.drawflow-node .box p {
	margin: 0.5em auto;
}
