#drawflow {
	position: relative;
	width: 800px;
	height: 800px;
	/* border: 1px solid red; */
}

#minimap {
	border: 1px solid red;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 67px;
	left: 820px;
	cursor: move;
}
#minimap * {
	cursor: move;
	pointer-events: none;
}

#minimap .mask {
	border: 1px solid red;
	border-radius: 4px;
	position: absolute;
	background: rgb(245, 111, 111);
	opacity: 0.3;
	pointer-events: none;
}
