<!--Experience -->
<div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
  <div class="col border-bottom mb-3 pb-3">
    <div class="row">
      <label class="">Mode</label>
      <div class="option-value">
        <select id="" name="">
            <option>Buffer + Interaction</option>
            <option>Awaiting for inputs</option>
            <option>Handle Overflow</option>
            <option>Everything</option>
        </select>   
      </div>
    </div>
  </div>
  <div class="col border-bottom mb-3 pb-3">
    <div class="row">
      <label class="">Input Type</label>
      <div class="option-value">
        <select id="" name="">
            <option>Clicks</option>
            <option>Hovering</option>
        </select>   
      </div>
    </div>
  </div>
  <!-- Buttons -->
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="mt-3 text-center">
        <a class="btn btn-custom">Video Thumbnail</a>
      </div>
     <div class="mt-3 text-center">
        <a class="btn btn-custom">Try To Load When Rendered</a>
     </div>
 </div>
</div>
</div>