<!--Info -->
<div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
  <div class="col border-bottom mb-4 pb-4 px-0">
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores et totam qui asperiores. Eligendi eius nihil animi aut sunt. Vero minima mollitia, voluptas voluptatem sequi rem. Minus enim iste molestiae.</div>
  </div>

  <div class="col border-bottom mb-3 mt-4 pb-3">
    <div class="row">
      <label class="">Icon</label>
      <div class="option-value">
        <select id="" name="">
            <option>Workflow showcase</option>
            <option>Inandout features</option>
        </select>   
      </div>
    </div>
  </div>

  <div class="w-100 mt-3 px-0" id="updateVid">
    <video id="updatesVidstyle" class="w-100 p-0 m-0" controls>
      <source src="" type="video/mp4">
      video not supported
    </video>
  </div>
</div>