<!--Observer -->
<div class="tab-pane fade" id="observer" role="tabpanel" aria-labelledby="observer-tab">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        <a class="btn btn-custom">yt-gif</a>
      </div>

     <div class="mt-3 text-center">
        <a class="btn btn-custom">video</a>
     </div>

     <div class="mt-3 text-center">
        <a class="btn btn-custom">yt-gif and video</a>
     </div>
  </div>
 </div>
  <div class="col mb-2"  style="margin-top: 36px;">
    <div class="row">
      <label class="">Deploy</label>
      <div class="option-value">
        <input type="checkbox" name="" id="">
      </div>
    </div>
  </div>
</div>