<!--Settings -->
<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
  <div class="row">
    <div class="col-lg-12">
        <div class="text-center">
        <a class="btn btn-custom">Toggle theme</a>
        </div>

        <div class="mt-3 text-center">
        <a class="btn btn-custom">Frequently asked questions</a>
        </div>

        <div class="mt-3 text-center">
        <a class="btn btn-custom">Settings page</a>
      </div>
    </div>
  </div>
</div>