---
// import SectionHeader from "../SectionHeader.astro";
---


<ul class="nav nav-tabs d-flex mb-3 pb-2" id="myTab" role="tablist">
  <li class="nav-item w-50" role="presentation"><button class="w-100 nav-link nav-color active" id="timestamps-tab" data-toggle="tab" data-target="#timestamps" type="button" role="tab" aria-controls="timestamps" aria-selected="true">Timestamps</button></li>
  <li class="nav-item w-50" role="presentation"><button class="w-100 nav-link nav-color" id="observer-tab" data-toggle="tab" data-target="#observer" type="button" role="tab" aria-controls="observer" aria-selected="false">Observer</button></li>
  <li class="nav-item w-50" role="presentation"><button class="w-100 nav-link nav-color" id="experience-tab" data-toggle="tab" data-target="#experience" type="button" role="tab" aria-controls="experience" aria-selected="false">Experience</button></li>
  <li class="nav-item w-50" role="presentation"><button class="w-100 nav-link nav-color" id="playersettings-tab" data-toggle="tab" data-target="#playersettings" type="button" role="tab" aria-controls="playersettings" aria-selected="false">PlayerSettings</button></li>
  <li class="nav-item w-50" role="presentation"><button class="w-100 nav-link nav-color" id="miscellaneous-tab" data-toggle="tab" data-target="#miscellaneous" type="button" role="tab" aria-controls="miscellaneous" aria-selected="false">Miscellaneous</button></li>
  <li class="nav-item w-50" role="presentation"><button class="w-100 nav-link nav-color" id="updates-tab" data-toggle="tab" data-target="#updates" type="button" role="tab" aria-controls="updates" aria-selected="false">Updates</button></li>
  <li class="nav-item w-50" role="presentation"><button class="w-100 nav-link nav-color" id="info-tab" data-toggle="tab" data-target="#info" type="button" role="tab" aria-controls="info" aria-selected="false">Info</button></li>
  <li class="nav-item w-50" role="presentation"><button class="w-100 nav-link nav-color" id="settings-tab" data-toggle="tab" data-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button></li>
</ul>
