<!--Timestamps -->
<div class="tab-pane fade show active" id="timestamps" role="tabpanel" aria-labelledby="timestamps-tab">
  <!-- check box -->
  <div class="col mb-2">
    <div class="row">
      <label class="">Timestamp Recovery</label>
      <div class="">
        <input type="checkbox" name="" id="">
      </div>
    </div>
  </div>
  <!-- select -->
  <div class="col mb-2">
    <div class="row">
      <label class="">Seek To</label>
      <div class="option-value">
        <select id="" name="">
            <option>Boundary</option>
            <option>Current time</option>
        </select>   
      </div>
    </div>
  </div>
  <!-- select -->
  <div class="col mb-2">
    <div class="row">
      <label class="">Restore</label>
      <div class="option-value">
        <select id="" name="">
            <option>Match</option>
            <option>Any matches</option>
        </select>   
      </div>
    </div>
  </div>
  <!-- select -->
  <div class="col border-bottom mb-3 pb-3">
    <div class="row">
      <label class="">Reset on removal</label>
      <div class="option-value">
        <select id="" name="">
            <option>Container</option>
            <option>Block</option>
            <option>Disabled</option>
        </select>   
      </div>
    </div>
  </div>
  <div class="col mb-2">
    <div class="row">
      <label class="">Seek To Actions</label>
      <div class="option-value">
        <select id="" name="">
            <option>Mute</option>
            <option>Pause</option>
            <option>None</option>
        </select>   
      </div>
    </div>
  </div>
  <div class="col border-bottom mb-3 pb-3">
    <div class="row">
      <label class="">Loop</label>
      <div class="option-value">
        <select id="" name="">
            <option>Automatically</option>
            <option>Last Active</option>
            <option>Disabled</option>
        </select>   
      </div>
    </div>
  </div>
  <div class="col mb-2">
    <div class="row">
      <label class="">Display</label>
      <div class="option-value">
        <select id="" name="">
            <option>Less HMS</option>
            <option>Formatted HMS</option>
            <option>HMS Suffix</option>
            <option>Seconds Only</option>
            <option>Default</option>
        </select>   
      </div>
    </div>
  </div>
  <div class="col border-bottom mb-3 pb-3">
    <div class="row">
      <label class="">Grab</label>
      <div class="option-value">
        <select id="" name="">
            <option>Less HMS</option>
            <option>Formatted HMS</option>
            <option>HMS Suffix</option>
            <option>Seconds Only</option>
        </select>   
      </div>
    </div>
  </div>
  <!--Buttons -->
  <div class="w-100" style="margin-top: 36px;">
    <div class="d-flex flex-row flex-wrap button-group align-items-center justify-content-center">
        <div class="btn btn-custom button-option text-center">
          <a class="">Anchor</a>
        </div>

        <div class="btn btn-custom button-option text-center">
            <a class="">Shortcuts</a>
        </div>

        <div class="btn btn-custom button-option text-center">
            <a class="">YT API</a>
        </div>
    </div>
  </div>
</div>
