<!--Updates -->
<div class="tab-pane fade" id="updates" role="tabpanel" aria-labelledby="updates-tab">
  <div class="col border-bottom mb-3 pb-3">
    <div class="row">
      <label class="">Icon</label>
      <div class="option-value">
        <select id="" name="">
            <option>Narrated showcase</option>
            <option>v2 features</option>
        </select>   
      </div>
    </div>
  </div>

  <div class="w-100 mt-3 px-0" id="updateVid">
      <video id="updatesVidstyle" class="w-100 p-0 m-0" controls>
        <source src="" type="video/mp4">
        video not supported
      </video>
  </div>
</div>