### What is a "Timestamp Display"?
- Invisible within the `YT GIF Controls`. *hover over the *mid area* to reveal them*
    - ![image](https://user-images.githubusercontent.com/65237382/148078182-9a7d4189-a9d2-4488-b787-0e678a94b25b.png)
    - Scroll inside the actual `Timestamp` to back and forward (player).

- `YT GIF icon > Miscellaneous > Clip lifespan format`
    - Because the main feature of the YT GIF extension is to use timestamps as boundaries, you might be interested to see the duration of a small section, or the position relative to the entire video.